.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-block: 2rem;
  padding-inline: 1rem;
  background-color: var(--background-secondary);
  height: 100%;
  box-shadow: 0 0 20px var(--background-secondary);
}

.logo {
  position: relative;
  display: flex;
  max-width: 6em;
  aspect-ratio: 1;
  justify-content: center;
  margin-inline: auto;
}

.container a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 300;
}

.container div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  align-items: center;
  background-color: var(--background-secondary);
  transition: 0.3s ease-in-out;
  border-radius: 5px;
  color: var(--secondary);
  padding: 1rem;
}

.container div:hover:not(.logo) {
  background-color: var(--primary);
  color: var(--background-secondary);
}

.container .active {
  color: var(--primary);
}

@media (width < 600px) {
  .container {
    align-items: center;
    padding: 1em;
    gap: 1em;
  }

  .logo {
    max-width: 3em;
  }

  .link-text {
    display: none;
  }
}

@media (width < 400px) {
  .container {
    padding-inline: 0em;
  }

  .logo {
    max-width: 2em;
  }

  .container a {
    font-size: 1rem;
  }
}
