.page {
  display: grid;
  place-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: var(--background-secondary);
  border-radius: 2rem;
  border: 1px solid var(--border);
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--border);
  padding-block: 1rem;
  font-size: 1.4rem;
  font-weight: 700;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-inline: 2rem;
  width: 40vw;
  max-width: 500px;
  min-width: 300px;
}

.actions {
  width: 100%;
  padding-inline: 2rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.forgot-password {
  width: fit-content;
  margin-inline: 2rem;
  font-size: 0.8rem;
}
