.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    var(--background),
    var(--accent)
  )
}

.logo {
  height: 10vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-secondary-transparent);
  padding: 4em 7em;
  border-radius: 5px;
  gap: 1em;
  align-items: center;
}

.container input {
  font-size: 1rem;
  padding: 0.5em;
}

.container button {
  font-size: 1rem;
  padding: 0.5em;
  border: none;
  outline: none;
  background-color: var(--accent);
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.container p {
  font-size: 0.7rem;
  display: flex;
  gap: 1ch;
}

.container a {
  color: var(--accent);
}

@media (width < 600px) {
}
