.main {
  padding-inline: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logout {
  background-color: transparent;
  border: none;
  color: var(--accent);
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}